/*
* @Author: WangHangYun
* @Date:   2018-01-20 18:24:39
* @Last Modified by:   WangHangYun
* @Last Modified time: 2018-01-20 18:28:15
*/
$bg-color: #aaa;

li{
    list-style: none;
}
.navbar-default{
    margin-bottom: 0;
}
.btn-logout{
    cursor: pointer;
}
.page-header{
    margin: 20px 0 20px;
    font-size: 28px;
    color: #666;
}
.page-header-right{
    float: right;
    margin-top: -63px;
}
