/*
* @Author: WangHangYun
* @Date:   2018-01-20 18:24:39
* @Last Modified by:   WangHangYun
* @Last Modified time: 2018-01-20 18:29:38
*/
.opear{
    margin: 0 5px;
}

.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }   
}